// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}
/* To Due: contact info, color variable */
@heading-font: 'Roboto Mono', monospace;
@font-color: white;
.flexMixin(){
	display: flex;
}
.titleFont(){
	padding: 1% 0;
	font-family: @heading-font;
	font-size: 1.2rem;
}

.container{
	margin: 4%;

	header{
		padding-bottom: 20px;
		.flexMixin();
		justify-content: space-between;
		justify-content: flex-end;
		nav{
			width: 40%;
			.flexMixin();
			justify-content: space-between;
			a{
				text-decoration: none;
				color: black;
			}//end of a
		}//end of nav
	}//end of header

	.top{
		background-color: #D5D9E1;
		padding: 4% 2%;
		.mainImg img{
			width: 20%;
		}
		h1{
			padding: 1% 0;
			font-family: @heading-font;
			font-size: 2rem;
		}//end of h1
		p{
			padding: 2% 0;	
		}//end of p
		.technology{
			border-bottom: 1px dotted black;
		}//end of technology
		button{
			font-size: 1rem;
			padding: 1% 2%;
			border: none;
			border-radius: 5px;
			background: rgb(120, 131, 120);
			color: @font-color;
		}
	}//end of top

	.listen-row{
		width: 100%;
		.flexMixin();
		padding: 2% 0;
		
		.listen-column{
			width: 49%;
			h2{
				padding: 1% 0;
				font-family: @heading-font;
				font-size: 1.5rem;
			}//end of h2
			p{
				padding: 1% 2% 1% 0;
			}
		}//end of listen-column

		.stuff-column{
			width: 50%;
			h2{
				width: 100%;
				.titleFont();
			}
			.stuff-table{
				padding: 1% 0;
				width: 200%;
				.flexMixin();
				flex-direction: column;
				@media (max-width: 500px) {
					width: 120%;
				}
				td{
					width: 100%;//676%;
					padding: 10px;
					border: 1px dotted rgb(168, 168, 168);
				}//end of td
			}//end of stuff-table
		}//end of stuff-column
	}//end of listen-row

	.work-row{
		padding-bottom: 2%;
		h2{
			.titleFont();
			border-bottom: 1px dotted grey;

		}
		.work-table{
			width: 100%;
			border-collapse: collapse;
			tr:nth-child(even) {
			background-color: #dddddd;
			}
		}//end of work-table
	}//end of work-row

	td, th {
		text-align: left;
		padding: 8px;
	}
}//end of the container

  /*------footer-----*/
footer{
  width: 95%;
  margin: 0 2%;
  background: rgb(120, 131, 120);
  padding: 3%;
  display: flex;
  justify-content: center;
  .contact-info{
	  .flexMixin();
	  flex-direction: column;
	  justify-content: flex-end;
	  h2{
		  .titleFont();
		  color: @font-color;
	  }
  }
  p{
		width: 100%;
		color: @font-color;
		display: flex;
		padding: 5px 0;
	  }//end of p
	  .copyright{
		  .flexMixin();
		  justify-content: center;
	  }
  }//end of footer